<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first</title>
    
    <link rel="stylesheet" href="/style.css" />
   
    <link rel="stylesheet" href="/stylesextra.css" />
    <header class="bg-red-500 text-white p-4 shadow-md">
      <nav class="container mx-auto flex justify-between items-center">
        <ul class="space-x-4">
          <li>
            <a
              href="/first"
              class="py-2 text-3xl font-bold px-4 rounded transition duration-300"
              >StreetBites</a
            >
          </li>
          <li>
            <a
              href="/index"
              class="font-bold py-2 px-4 rounded transition duration-300"
              >Resturants-List</a
            >
          </li>
          <li>
            <a
              href="/favourites"
              class="py-2 px-4 font-bold rounded transition duration-300"
              >Favourites</a
            >
          </li>
          <li>
            <a
              href="/bucket"
              class="py-2 px-4 font-bold rounded transition duration-300"
              >Bucket</a
            >
          </li>
          <li>
            <a
              href="/host/host-resturant-list"
              class="py-2 px-4 font-bold rounded transition duration-300"
              >Host resturants</a
            >
          </li>
          <li>
            <a
              href="/host/add-resturant"
              class="py-2 px-4 font-bold rounded transition duration-300"
              >Add resturants</a
            >
          </li>
          <li>
            <a href="/profile" class="py-2 px-4 font-bold rounded transition duration-300">Profile</a>
        </li>
        </ul>
      </nav>
    </header>
</body>
</html>