<%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
    <main class="container mx-auto mt-8 p-4">
        <div class="bg-white shadow-md rounded-lg p-6 text-center">
          <h1 class="text-3xl font-bold text-red-500 mb-4">Resturant  Successfully</h1>
          <p class="text-lg text-gray-600">Your resturant has been  to our listings.</p>
          <a href="/" class="group block max-w-xs mx-auto rounded-lg p-2 m-5 bg-white ring-1 ring-slate-900/5 shadow-lg space-y-3 hover:bg-red-500 hover:ring-red-500">Return to Resturant</a>
        </div>
      </main>
</body>
</html>